<h4> 1. Import data </h4>

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('data/train.csv')

In [5]:
df.head(10)

,max_discharge_sum_r1,max_discharge_sum_r2_1,max_discharge_sum_r2_2,max_discharge_sum_r3,flood_sum_r1,flood_sum_r2_1,flood_sum_r2_2,flood_sum_r3,HW_inund_uncertainty,bridge_scour_uncertainty,travel_demand_uncertainty,restoration_capacity_uncertainty,dir_costs,lost_trips_costs_s_r,traffic_costs_s_r
0,585.669565,1626.362646,1917.919430,638.858438,8411.140723,31506.112765,22090.545196,15338.736641,1.028415,1.140250,0.763417,6,3.340766e+07,6.390603e+07,-1.387608e+07
1,577.557845,1643.059879,1887.656759,821.350990,8428.714304,31464.769187,21934.204673,17058.632353,1.028008,0.908724,1.138794,5,2.622206e+07,5.535979e+07,9.384497e+06
2,772.575113,1672.017477,1803.841771,494.527298,9338.140945,31334.393859,21498.213911,13903.405134,1.081371,0.949278,1.057013,3,2.526532e+07,5.933291e+07,5.139631e+06
3,522.083261,1653.122228,3326.489392,460.208237,8055.620780,40539.300119,32937.770259,13073.489518,1.051976,1.264463,0.979334,3,5.486000e+07,9.421211e+07,2.127731e+06
4,614.144564,1644.183921,2485.551499,595.062726,8529.557570,34186.482882,28422.797907,14950.683896,0.786564,0.703410,1.233351,4,3.921215e+07,7.632145e+07,2.113208e+07
5,813.288970,1669.059934,1877.527825,680.463375,9701.224093,31193.165234,22297.853693,15652.704965,0.783139,1.379349,0.876307,6,3.225823e+07,7.616296e+07,-6.506723e+06
6,663.211125,1666.035202,2230.319808,671.192423,8806.258837,32504.615705,26343.616164,15618.296388,0.879739,0.739705,0.639232,6,3.501944e+07,3.283001e+07,-1.755404e+07
7,501.752017,1726.178830,2023.484977,993.980349,8031.132240,32844.961063,22531.504746,18555.229803,0.639638,0.353749,1.191593,5,2.881552e+07,7.138991e+07,1.742383e+07
8,581.130243,1669.379831,1976.993224,1105.226828,8297.437471,32213.132745,22180.596511,19413.062434,0.974252,0.517781,0.941533,6,3.182847e+07,5.681803e+07,-2.533089e+06
9,622.458211,1636.290754,2176.796189,457.469364,8532.337554,32557.583545,24402.157344,13253.838280,0.860631,1.257677,1.158570,4,4.565669e+07,6.153274e+07,1.404378e+07

In [6]:
df.shape

(1616, 15)

<h4> 2. Clustering </h4>

In [7]:
from sklearn.cluster import KMeans
# Specify the number of clusters (k)
k = 10

# Initialize the KMeans model
kmeans = KMeans(n_clusters=k, random_state=42)

# Fit the model to the data. Drop y1, y2, y3
kmeans.fit(df.drop(columns=["dir_costs", "lost_trips_costs_s_r", "traffic_costs_s_r"]))

# Get the cluster labels for each data point
labels = kmeans.labels_

# Add the cluster labels to the DataFrame
df['Cluster'] = labels

/home/lavuna47/Projects/Diploma/venv/lib64/python3.10/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [8]:
df.head()

,max_discharge_sum_r1,max_discharge_sum_r2_1,max_discharge_sum_r2_2,max_discharge_sum_r3,flood_sum_r1,flood_sum_r2_1,flood_sum_r2_2,flood_sum_r3,HW_inund_uncertainty,bridge_scour_uncertainty,travel_demand_uncertainty,restoration_capacity_uncertainty,dir_costs,lost_trips_costs_s_r,traffic_costs_s_r,Cluster
0,585.669565,1626.362646,1917.919430,638.858438,8411.140723,31506.112765,22090.545196,15338.736641,1.028415,1.140250,0.763417,6,3.340766e+07,6.390603e+07,-1.387608e+07,2
1,577.557845,1643.059879,1887.656759,821.350990,8428.714304,31464.769187,21934.204673,17058.632353,1.028008,0.908724,1.138794,5,2.622206e+07,5.535979e+07,9.384497e+06,9
2,772.575113,1672.017477,1803.841771,494.527298,9338.140945,31334.393859,21498.213911,13903.405134,1.081371,0.949278,1.057013,3,2.526532e+07,5.933291e+07,5.139631e+06,6
3,522.083261,1653.122228,3326.489392,460.208237,8055.620780,40539.300119,32937.770259,13073.489518,1.051976,1.264463,0.979334,3,5.486000e+07,9.421211e+07,2.127731e+06,1
4,614.144564,1644.183921,2485.551499,595.062726,8529.557570,34186.482882,28422.797907,14950.683896,0.786564,0.703410,1.233351,4,3.921215e+07,7.632145e+07,2.113208e+07,4

In [9]:
df["Cluster"].value_counts()

Cluster
0    323
2    312
6    297
4    248
9    233
1     98
7     44
3     38
5     21
8      2
Name: count, dtype: int64

In [10]:
dummy_columns = pd.get_dummies(df['Cluster'], prefix='class')
dummy_columns

,class_0,class_1,class_2,class_3,class_4,class_5,class_6,class_7,class_8,class_9
0,False,False,True,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,True,False,False,False
3,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
1611,False,False,False,False,True,False,False,False,False,False
1612,False,False,True,False,False,False,False,False,False,False
1613,False,False,False,False,False,False,False,True,False,False
1614,False,False,False,False,False,False,True,False,False,False
1615,False,False,True,False,False,False,False,False,False,False

In [11]:
df = pd.concat([df, dummy_columns], axis=1)
df.head()

,max_discharge_sum_r1,max_discharge_sum_r2_1,max_discharge_sum_r2_2,max_discharge_sum_r3,flood_sum_r1,flood_sum_r2_1,flood_sum_r2_2,flood_sum_r3,HW_inund_uncertainty,bridge_scour_uncertainty,...,class_0,class_1,class_2,class_3,class_4,class_5,class_6,class_7,class_8,class_9
0,585.669565,1626.362646,1917.919430,638.858438,8411.140723,31506.112765,22090.545196,15338.736641,1.028415,1.140250,...,False,False,True,False,False,False,False,False,False,False
1,577.557845,1643.059879,1887.656759,821.350990,8428.714304,31464.769187,21934.204673,17058.632353,1.028008,0.908724,...,False,False,False,False,False,False,False,False,False,True
2,772.575113,1672.017477,1803.841771,494.527298,9338.140945,31334.393859,21498.213911,13903.405134,1.081371,0.949278,...,False,False,False,False,False,False,True,False,False,False
3,522.083261,1653.122228,3326.489392,460.208237,8055.620780,40539.300119,32937.770259,13073.489518,1.051976,1.264463,...,False,True,False,False,False,False,False,False,False,False
4,614.144564,1644.183921,2485.551499,595.062726,8529.557570,34186.482882,28422.797907,14950.683896,0.786564,0.703410,...,False,False,False,False,True,False,False,False,False,False

In [12]:
df = df.drop("Cluster", axis=1)

In [13]:
df.head()

,max_discharge_sum_r1,max_discharge_sum_r2_1,max_discharge_sum_r2_2,max_discharge_sum_r3,flood_sum_r1,flood_sum_r2_1,flood_sum_r2_2,flood_sum_r3,HW_inund_uncertainty,bridge_scour_uncertainty,...,class_0,class_1,class_2,class_3,class_4,class_5,class_6,class_7,class_8,class_9
0,585.669565,1626.362646,1917.919430,638.858438,8411.140723,31506.112765,22090.545196,15338.736641,1.028415,1.140250,...,False,False,True,False,False,False,False,False,False,False
1,577.557845,1643.059879,1887.656759,821.350990,8428.714304,31464.769187,21934.204673,17058.632353,1.028008,0.908724,...,False,False,False,False,False,False,False,False,False,True
2,772.575113,1672.017477,1803.841771,494.527298,9338.140945,31334.393859,21498.213911,13903.405134,1.081371,0.949278,...,False,False,False,False,False,False,True,False,False,False
3,522.083261,1653.122228,3326.489392,460.208237,8055.620780,40539.300119,32937.770259,13073.489518,1.051976,1.264463,...,False,True,False,False,False,False,False,False,False,False
4,614.144564,1644.183921,2485.551499,595.062726,8529.557570,34186.482882,28422.797907,14950.683896,0.786564,0.703410,...,False,False,False,False,True,False,False,False,False,False

<h4> 3. Make 3 separate datasets based on 3 output variables: y1, y2, y3</h4>

In [117]:
df1 = df.drop(columns=["lost_trips_costs_s_r", "traffic_costs_s_r"])
df2 = df.drop(columns=["dir_costs", "traffic_costs_s_r"])
df3 = df.drop(columns=["dir_costs", "lost_trips_costs_s_r"])

In [118]:
df3.head()

,max_discharge_sum_r1,max_discharge_sum_r2_1,max_discharge_sum_r2_2,max_discharge_sum_r3,flood_sum_r1,flood_sum_r2_1,flood_sum_r2_2,flood_sum_r3,HW_inund_uncertainty,bridge_scour_uncertainty,...,class_0,class_1,class_2,class_3,class_4,class_5,class_6,class_7,class_8,class_9
0,585.669565,1626.362646,1917.919430,638.858438,8411.140723,31506.112765,22090.545196,15338.736641,1.028415,1.140250,...,False,False,True,False,False,False,False,False,False,False
1,577.557845,1643.059879,1887.656759,821.350990,8428.714304,31464.769187,21934.204673,17058.632353,1.028008,0.908724,...,False,False,False,False,False,False,False,False,False,True
2,772.575113,1672.017477,1803.841771,494.527298,9338.140945,31334.393859,21498.213911,13903.405134,1.081371,0.949278,...,False,False,False,False,False,False,True,False,False,False
3,522.083261,1653.122228,3326.489392,460.208237,8055.620780,40539.300119,32937.770259,13073.489518,1.051976,1.264463,...,False,True,False,False,False,False,False,False,False,False
4,614.144564,1644.183921,2485.551499,595.062726,8529.557570,34186.482882,28422.797907,14950.683896,0.786564,0.703410,...,False,False,False,False,True,False,False,False,False,False

In [119]:
X_train1 = df.drop(columns=["dir_costs"])
y_train1 = df['dir_costs']

X_train2 = df.drop(columns=["lost_trips_costs_s_r"])
y_train2 = df['lost_trips_costs_s_r']

X_train3 = df.drop(columns=["traffic_costs_s_r"])
y_train3 = df['traffic_costs_s_r']

<h4> 4. Prediction of each y, using  GRNN <h4>

In [120]:
from pyGRNN import GRNN

grnn1 = GRNN(sigma=0.47)
grnn1.fit(X_train1, y_train1)
y_pred1 = grnn1.predict(X_train1)

grnn2 = GRNN(sigma=0.47)
grnn2.fit(X_train2, y_train2)
y_pred2 = grnn2.predict(X_train2)

grnn3 = GRNN(sigma=0.47)
grnn3.fit(X_train3, y_train3)
y_pred3 = grnn3.predict(X_train3)

df3["GRNN1"] = df2["GRNN1"] = df1["GRNN1"] = y_pred1
df3["GRNN2"] = df2["GRNN2"] = df1["GRNN2"] = y_pred2
df3["GRNN3"] = df2["GRNN3"] = df1["GRNN3"] = y_pred3

Executing warm start...
Warm start concluded. The optimum isotropic sigma is [0.47]
Gradient search concluded. The optimum sigma is [0.47 0.47 0.47 0.47 0.47 0.47 0.47 0.47 0.47 0.47 0.47 0.47 0.47 0.47
 0.47 0.47 0.47 0.47 0.47 0.47 0.47 0.47 0.47 0.47]
Executing warm start...
Warm start concluded. The optimum isotropic sigma is [0.47]
Gradient search concluded. The optimum sigma is [0.47 0.47 0.47 0.47 0.47 0.47 0.47 0.47 0.47 0.47 0.47 0.47 0.47 0.47
 0.47 0.47 0.47 0.47 0.47 0.47 0.47 0.47 0.47 0.47]
Executing warm start...
Warm start concluded. The optimum isotropic sigma is [0.47]
Gradient search concluded. The optimum sigma is [0.47 0.47 0.47 0.47 0.47 0.47 0.47 0.47 0.47 0.47 0.47 0.47 0.47 0.47
 0.47 0.47 0.47 0.47 0.47 0.47 0.47 0.47 0.47 0.47]

In [149]:
X_train1.head()

,max_discharge_sum_r1,max_discharge_sum_r2_1,max_discharge_sum_r2_2,max_discharge_sum_r3,flood_sum_r1,flood_sum_r2_1,flood_sum_r2_2,flood_sum_r3,HW_inund_uncertainty,bridge_scour_uncertainty,...,class_0,class_1,class_2,class_3,class_4,class_5,class_6,class_7,class_8,class_9
0,585.669565,1626.362646,1917.919430,638.858438,8411.140723,31506.112765,22090.545196,15338.736641,1.028415,1.140250,...,False,False,True,False,False,False,False,False,False,False
1,577.557845,1643.059879,1887.656759,821.350990,8428.714304,31464.769187,21934.204673,17058.632353,1.028008,0.908724,...,False,False,False,False,False,False,False,False,False,True
2,772.575113,1672.017477,1803.841771,494.527298,9338.140945,31334.393859,21498.213911,13903.405134,1.081371,0.949278,...,False,False,False,False,False,False,True,False,False,False
3,522.083261,1653.122228,3326.489392,460.208237,8055.620780,40539.300119,32937.770259,13073.489518,1.051976,1.264463,...,False,True,False,False,False,False,False,False,False,False
4,614.144564,1644.183921,2485.551499,595.062726,8529.557570,34186.482882,28422.797907,14950.683896,0.786564,0.703410,...,False,False,False,False,True,False,False,False,False,False

In [121]:
df1.head()

,max_discharge_sum_r1,max_discharge_sum_r2_1,max_discharge_sum_r2_2,max_discharge_sum_r3,flood_sum_r1,flood_sum_r2_1,flood_sum_r2_2,flood_sum_r3,HW_inund_uncertainty,bridge_scour_uncertainty,...,class_3,class_4,class_5,class_6,class_7,class_8,class_9,GRNN1,GRNN2,GRNN3
0,585.669565,1626.362646,1917.919430,638.858438,8411.140723,31506.112765,22090.545196,15338.736641,1.028415,1.140250,...,False,False,False,False,False,False,False,3.340766e+07,6.390603e+07,-1.387608e+07
1,577.557845,1643.059879,1887.656759,821.350990,8428.714304,31464.769187,21934.204673,17058.632353,1.028008,0.908724,...,False,False,False,False,False,False,True,2.622206e+07,5.535979e+07,9.384497e+06
2,772.575113,1672.017477,1803.841771,494.527298,9338.140945,31334.393859,21498.213911,13903.405134,1.081371,0.949278,...,False,False,False,True,False,False,False,2.526532e+07,5.933291e+07,5.139631e+06
3,522.083261,1653.122228,3326.489392,460.208237,8055.620780,40539.300119,32937.770259,13073.489518,1.051976,1.264463,...,False,False,False,False,False,False,False,5.486000e+07,9.421211e+07,2.127731e+06
4,614.144564,1644.183921,2485.551499,595.062726,8529.557570,34186.482882,28422.797907,14950.683896,0.786564,0.703410,...,False,True,False,False,False,False,False,3.921215e+07,7.632145e+07,2.113208e+07

In [122]:
df2.head()

,max_discharge_sum_r1,max_discharge_sum_r2_1,max_discharge_sum_r2_2,max_discharge_sum_r3,flood_sum_r1,flood_sum_r2_1,flood_sum_r2_2,flood_sum_r3,HW_inund_uncertainty,bridge_scour_uncertainty,...,class_3,class_4,class_5,class_6,class_7,class_8,class_9,GRNN1,GRNN2,GRNN3
0,585.669565,1626.362646,1917.919430,638.858438,8411.140723,31506.112765,22090.545196,15338.736641,1.028415,1.140250,...,False,False,False,False,False,False,False,3.340766e+07,6.390603e+07,-1.387608e+07
1,577.557845,1643.059879,1887.656759,821.350990,8428.714304,31464.769187,21934.204673,17058.632353,1.028008,0.908724,...,False,False,False,False,False,False,True,2.622206e+07,5.535979e+07,9.384497e+06
2,772.575113,1672.017477,1803.841771,494.527298,9338.140945,31334.393859,21498.213911,13903.405134,1.081371,0.949278,...,False,False,False,True,False,False,False,2.526532e+07,5.933291e+07,5.139631e+06
3,522.083261,1653.122228,3326.489392,460.208237,8055.620780,40539.300119,32937.770259,13073.489518,1.051976,1.264463,...,False,False,False,False,False,False,False,5.486000e+07,9.421211e+07,2.127731e+06
4,614.144564,1644.183921,2485.551499,595.062726,8529.557570,34186.482882,28422.797907,14950.683896,0.786564,0.703410,...,False,True,False,False,False,False,False,3.921215e+07,7.632145e+07,2.113208e+07

<h4> 5. Train each model using some regression method </h4>

In [123]:
import time
from sklearn.ensemble import RandomForestRegressor

rf_model1 = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model1.fit(X_train1, y_train1)

rf_model2 = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model2.fit(X_train2, y_train2)

rf_model3 = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model3.fit(X_train3, y_train3)

RandomForestRegressor(random_state=42)

<h4> 6. Test & print evaluation metrics </h4>

In [136]:
test_df = pd.read_csv('data/test.csv')

In [137]:
test_df.shape

(404, 15)

In [138]:
test_clusters = kmeans.predict(test_df.drop(columns=["dir_costs", "lost_trips_costs_s_r", "traffic_costs_s_r"]) )

In [139]:
test_df["Cluster"] = test_clusters

In [140]:
test_df

,max_discharge_sum_r1,max_discharge_sum_r2_1,max_discharge_sum_r2_2,max_discharge_sum_r3,flood_sum_r1,flood_sum_r2_1,flood_sum_r2_2,flood_sum_r3,HW_inund_uncertainty,bridge_scour_uncertainty,travel_demand_uncertainty,restoration_capacity_uncertainty,dir_costs,lost_trips_costs_s_r,traffic_costs_s_r,Cluster
0,1041.910022,1682.269960,2618.785501,403.177612,10635.749574,32961.640511,30796.932632,12572.132098,0.777534,0.887391,1.146891,5,3.958513e+07,6.176438e+07,8.331453e+06,4
1,568.211437,1676.755106,1698.087521,901.152698,8403.564241,31230.373948,19869.508771,17844.850146,1.191581,0.904204,0.388062,4,2.496745e+07,1.970961e+07,-3.388755e+07,9
2,825.094557,1654.635147,1665.846538,486.662449,9625.439001,31026.832398,19563.420522,13716.964098,0.707860,1.232122,1.010656,5,2.264145e+07,4.214872e+07,2.191359e+06,6
3,529.013626,1666.475342,2927.662888,376.569968,8054.994635,31827.840306,33712.432616,12107.491665,1.036260,0.839889,1.197014,3,6.355152e+07,1.538514e+08,3.755425e+07,1
4,670.411867,1650.028160,1837.452783,566.843472,8867.723330,31533.409501,20878.115588,14646.351934,0.970798,1.238293,1.222012,6,2.500712e+07,4.902112e+07,1.230080e+07,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,667.577509,1708.374881,2254.257607,631.650022,8718.665810,33418.628423,24909.298342,15286.472833,1.140398,0.771452,0.685503,5,3.293892e+07,3.926928e+07,-1.876339e+07,2
400,536.300728,1689.573950,2339.160480,805.779031,8200.614208,31639.246503,28268.057208,17143.483894,0.668606,1.338408,0.916916,4,4.244701e+07,1.130557e+08,-7.524209e+06,0
401,643.419471,1689.350137,2084.110831,663.639601,8730.092349,32410.795774,23524.708319,15557.541140,0.740226,0.982565,1.341429,4,5.176733e+07,1.636258e+08,5.950160e+07,2
402,632.986703,1673.601452,2460.836153,573.444942,8661.400911,34149.262775,27783.613834,14724.822061,1.020478,0.875726,0.898231,3,3.924589e+07,7.313832e+07,-6.627626e+06,4
403,617.998171,1611.668609,2252.665618,514.475550,8556.301618,32251.584883,26418.345184,14093.435142,0.713416,1.129528,1.010970,5,3.500028e+07,5.545214e+07,2.086568e+06,0

In [141]:
dummy_columns = pd.get_dummies(test_df['Cluster'], prefix='class')
dummy_columns

,class_0,class_1,class_2,class_3,class_4,class_5,class_6,class_7,class_9
0,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,True,False,False
3,False,True,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...
399,False,False,True,False,False,False,False,False,False
400,True,False,False,False,False,False,False,False,False
401,False,False,True,False,False,False,False,False,False
402,False,False,False,False,True,False,False,False,False
403,True,False,False,False,False,False,False,False,False

In [142]:
test_df = pd.concat([test_df, dummy_columns], axis=1)
test_df.head()

,max_discharge_sum_r1,max_discharge_sum_r2_1,max_discharge_sum_r2_2,max_discharge_sum_r3,flood_sum_r1,flood_sum_r2_1,flood_sum_r2_2,flood_sum_r3,HW_inund_uncertainty,bridge_scour_uncertainty,...,Cluster,class_0,class_1,class_2,class_3,class_4,class_5,class_6,class_7,class_9
0,1041.910022,1682.269960,2618.785501,403.177612,10635.749574,32961.640511,30796.932632,12572.132098,0.777534,0.887391,...,4,False,False,False,False,True,False,False,False,False
1,568.211437,1676.755106,1698.087521,901.152698,8403.564241,31230.373948,19869.508771,17844.850146,1.191581,0.904204,...,9,False,False,False,False,False,False,False,False,True
2,825.094557,1654.635147,1665.846538,486.662449,9625.439001,31026.832398,19563.420522,13716.964098,0.707860,1.232122,...,6,False,False,False,False,False,False,True,False,False
3,529.013626,1666.475342,2927.662888,376.569968,8054.994635,31827.840306,33712.432616,12107.491665,1.036260,0.839889,...,1,False,True,False,False,False,False,False,False,False
4,670.411867,1650.028160,1837.452783,566.843472,8867.723330,31533.409501,20878.115588,14646.351934,0.970798,1.238293,...,6,False,False,False,False,False,False,True,False,False

In [143]:
test_df = test_df.drop(columns=['Cluster'])

In [144]:
test_df.head()

,max_discharge_sum_r1,max_discharge_sum_r2_1,max_discharge_sum_r2_2,max_discharge_sum_r3,flood_sum_r1,flood_sum_r2_1,flood_sum_r2_2,flood_sum_r3,HW_inund_uncertainty,bridge_scour_uncertainty,...,traffic_costs_s_r,class_0,class_1,class_2,class_3,class_4,class_5,class_6,class_7,class_9
0,1041.910022,1682.269960,2618.785501,403.177612,10635.749574,32961.640511,30796.932632,12572.132098,0.777534,0.887391,...,8.331453e+06,False,False,False,False,True,False,False,False,False
1,568.211437,1676.755106,1698.087521,901.152698,8403.564241,31230.373948,19869.508771,17844.850146,1.191581,0.904204,...,-3.388755e+07,False,False,False,False,False,False,False,False,True
2,825.094557,1654.635147,1665.846538,486.662449,9625.439001,31026.832398,19563.420522,13716.964098,0.707860,1.232122,...,2.191359e+06,False,False,False,False,False,False,True,False,False
3,529.013626,1666.475342,2927.662888,376.569968,8054.994635,31827.840306,33712.432616,12107.491665,1.036260,0.839889,...,3.755425e+07,False,True,False,False,False,False,False,False,False
4,670.411867,1650.028160,1837.452783,566.843472,8867.723330,31533.409501,20878.115588,14646.351934,0.970798,1.238293,...,1.230080e+07,False,False,False,False,False,False,True,False,False

In [145]:
test_df1 = test_df.drop(columns=["lost_trips_costs_s_r", "traffic_costs_s_r"])
test_df2 = test_df.drop(columns=["dir_costs", "traffic_costs_s_r"])
test_df3 = test_df.drop(columns=["dir_costs", "lost_trips_costs_s_r"])

In [146]:
X_test1 = test_df.drop(columns=["dir_costs"])
y_test1 = test_df['dir_costs']
 
X_test2 = test_df.drop(columns=["lost_trips_costs_s_r"])
y_test2 = test_df['lost_trips_costs_s_r']
 
X_test3 = test_df.drop(columns=["traffic_costs_s_r"])
y_test3 = test_df['traffic_costs_s_r']

In [148]:
y_pred1 = grnn1.predict(X_test1)
y_pred2 = grnn2.predict(X_test2)
y_pred3 = grnn3.predict(X_test3)

test_df1["GRNN1"] = test_df2["GRNN1"] = test_df3["GRNN1"] = y_pred1
test_df1["GRNN2"] = test_df2["GRNN2"] = test_df3["GRNN2"] = y_pred2
test_df1["GRNN3"] = test_df2["GRNN3"] = test_df3["GRNN3"] = y_pred3

ValueError: operands could not be broadcast together with shapes (404,23) (24,)

In [97]:
predictions1 = rf_model1.predict(X_test1)
predictions2 = rf_model2.predict(X_test2)
predictions3 = rf_model3.predict(X_test3)

In [98]:
from sklearn.metrics import mean_absolute_error
from numpy import sqrt
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_percentage_error, max_error, median_absolute_error, mean_absolute_error

def print_metrics(y_true, y_pred):
    mse = mean_squared_error(y_true, y_pred)
    print(f'Mean Squared Error (MSE):              {mse:.10f}')
    
    rmse = sqrt(mse)
    print(f'Root Mean Squared Error (RMSE):        {rmse:.10f}')
    
    mae = mean_absolute_error(y_true, y_pred)
    print(f'Mean Absolute Error (MAE):             {mae:.10f}')
    
    r2 = r2_score(y_true, y_pred)
    print(f'R-squared (R²):                        {r2:.10f}')
    
    mape = mean_absolute_percentage_error(y_true, y_pred)
    print(f'Mean Absolute Percentage Error (MAPE): {mape:.10f}')    
    
    me = max_error(y_true, y_pred)
    print(f'Max Error (ME):                        {me:.10f}')    
    
    med_ae = median_absolute_error(y_true, y_pred)
    print(f'Median Absolute Error (MedAE):         {med_ae:.10f}')

In [99]:
print_metrics(y_test1, predictions1)

Mean Squared Error (MSE):              17403463215757.5683593750
Root Mean Squared Error (RMSE):        4171745.8234841642
Mean Absolute Error (MAE):             2272712.8915420519
R-squared (R²):                        0.9095587914
Mean Absolute Percentage Error (MAPE): 0.0522113286
Max Error (ME):                        18906979.4463154823
Median Absolute Error (MedAE):         849614.2306820676

In [100]:
print_metrics(y_test2, predictions2)

Mean Squared Error (MSE):              217034632479769.6562500000
Root Mean Squared Error (RMSE):        14732095.3187172133
Mean Absolute Error (MAE):             7698309.6621062746
R-squared (R²):                        0.7895275465
Mean Absolute Percentage Error (MAPE): 0.1011590964
Max Error (ME):                        139941419.6274482608
Median Absolute Error (MedAE):         3483001.5948535502

In [103]:
print_metrics(y_test3, predictions3)

Mean Squared Error (MSE):              31635942689751.0156250000
Root Mean Squared Error (RMSE):        5624583.7792454492
Mean Absolute Error (MAE):             2319080.2937903157
R-squared (R²):                        0.8625513246
Mean Absolute Percentage Error (MAPE): 0.6593677528
Max Error (ME):                        77718557.2667000145
Median Absolute Error (MedAE):         1058824.4164987497